
<head>    
    <meta charset = "UTF-8">
    <title>LIBER</title>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href="styles.css"/>
</head>
<body>
    <div class = "menu_topo">
        <header>
            <div class="logo">Liber</div>
            <div class="menu">
                <ul>
                    <li><a href="#">Pesquisar livro</a></li>
                    <li><a href="#">Minha Conta</a></li>
                </ul>
            </div>
        </header>
        <div class="mensagem">    
            <h1>Assim como os livros, agora você pode levar a Liber para onde quiser.</h1>
            <p>Seja muito bem vindo ao novo aplicativo da Liber!</p>
        </div>
    </div>
</body>